# Ignore large data folders / outputs
new_data/sub*
miniblock/derivatives/
miniblock/Outputs/
/*.nii
/*.nii.gz
/Behavior/accuracy_results_func.csv
/Behavior/accuracy_results_loc.csv
/Behavior/motion_plots
/Behavior/designmats
/Code/GLMSingle
/GLMestimatessingletrialfigures
FreeSurfer

# Ignore system files
.DS_Store

# Ignore Jupyter checkpoints
.ipynb_checkpoints/
