absl-py==2.2.0
acres==0.2.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiohttp-retry==2.9.1
aiosignal==1.3.2
APScheduler==3.11.0
arrow==1.3.0
astor==0.8.1
astunparse==1.6.3
bids-validator==1.14.7.post0
bidsschematools==1.0.0
bokeh==3.5.2
ci-info==0.3.0
click==8.1.8
climate-indices==1.0.12
cloudpickle==3.1.1
codecarbon==2.8.2
cryptography==44.0.0
dask==2025.5.1
dm-tree==0.1.9
docopt==0.6.2
docstring_parser==0.16
einops==0.8.1
etelemetry==0.3.1
etils==1.12.2
fief-client==0.20.0
flatbuffers==25.2.10
fmriprep==25.0.0
formulaic==0.5.2
frozendict==2.4.6
frozenlist==1.7.0
gast==0.6.0
google-pasta==0.2.0
googleapis-common-protos==1.69.2
grpcio==1.71.0
h5py==3.12.1
imageio==2.36.1
immutabledict==4.2.1
importlib_resources==6.5.2
indexed_gzip==1.9.4
interface-meta==1.3.0
isodate==0.6.1
jwcrypto==1.5.6
kagglehub==0.3.11
keras==3.9.0
latexcodec==3.0.0
lazy_loader==0.4
libclang==18.1.1
llvmlite==0.44.0
locket==1.0.0
lockfile==0.12.2
looseversion==1.3.0
lxml==5.3.0
mapca==0.0.5
Markdown==3.7
markdown-it-py==3.0.0
matplotlib==3.9.2
mdurl==0.1.2
migas==0.4.0
ml_dtypes==0.5.1
multidict==6.4.4
multitasking==0.0.11
namex==0.0.8
nibabel==5.2.1
nilearn==0.10.4
nipype==1.9.2
nireports==24.1.0
nitime==0.11
nitransforms==24.1.1
niworkflows==1.13.0
nltk==3.9.1
num2words==0.5.14
numba==0.61.2
numpy
nvidia-ml-py==12.560.30
opt_einsum==3.4.0
optree==0.14.1
pandas==2.2.2
partd==1.4.2
patsy==1.0.1
peewee==3.17.9
promise==2.3
propcache==0.3.2
protobuf==5.29.4
prov==2.0.1
puremagic==1.28
py-cpuinfo==9.0.0
pyarrow==19.0.1
pybids==0.18.1
pybtex==0.24.0
pybtex-apa-style==1.3
pydot==3.0.4
pyet==1.3.1
PyJWT==2.10.1
pynvml==12.0.0
questionary==2.1.0
RapidFuzz==3.11.0
rdflib==6.3.2
regex==2024.11.6
rich==13.9.4
robustica==0.1.4
rsatoolbox==0.2.0
scikit-image==0.25.0
sdcflows==2.11.0
scipy
setuptools==72.1.0
shellingham==1.5.4
simple-parsing==0.1.7
simplejson==3.19.3
smriprep==0.17.0
SQLAlchemy==2.0.36
statsmodels==0.14.4
svgutils==0.3.4
sympy==1.13.1
tedana==24.0.2
templateflow==24.2.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-datasets==4.9.8
tensorflow-hub==0.16.1
tensorflow-metadata==1.17.1
termcolor==2.3.0
tf_keras==2.19.0
tifffile==2024.12.12
toml==0.10.2
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
traits==6.4.3
transforms3d==0.4.2
twilio==9.6.3
typer==0.15.1
types-python-dateutil==2.9.0.20241206
tzlocal==5.2
ucimlrepo==0.0.7
universal_pathlib==0.2.6
Werkzeug==3.1.3
wheel==0.44.0
wrapt==1.17.0
xarray==2025.6.1
yarl==1.20.1
yaspin==3.1.0
yfinance==0.2.53
zipp==3.21.0
